@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <div>
        <label>API Url</label>
        <input type="text" class="form-control" value="@Url.RouteUrl("ControllerOnlyRouteName", new { controller= "MyApi"})" />
        <br />
        <p>
            By uncommenting following line in Startup.cs file above text box will have the right URL
        </p>
        <pre>setupAction.EnableEndpointRouting = false;</pre>
    </div>
</div>
