################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebApiDemo/bin/Debug/netcoreapp2.1
/WebApiDemo/obj
/.vs
/WebApiDemo/wwwroot/css/site.min.css
/WebApiDemo/wwwroot/js/site.min.js
/WebApiDemo/bin/Debug/netcoreapp2.2
